/* Estilos de la pagina principal */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 25px; /* Ajusta esto a la altura de la barra de navegaci칩n */
}

.container_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    box-sizing: border-box;

    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000; /* Asegura que est칠 por encima de otros elementos */
}

/* 游댳 En m칩viles, reorganizamos el header */
@media (max-width: 768px) {
    .container_header {
        flex-direction: column; /* Elementos en vertical */
        height: auto; /* Permite que crezca si es necesario */
        padding: 15px; /* Da m치s espacio */
    }

    body {
        padding-top: 80px; /* Ajusta el espacio en m칩viles */
    }
}

.logo {
    width: 20px; /* Ajusta el ancho seg칰n tus necesidades */
    height: auto;
}

.navegation_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    padding: 13px 30px;
    box-sizing: border-box;
}

.navegation_bar a {
    text-decoration: none; /* Quita el estilo especial predeterminado */
    color: #666;/* color para el texto*/
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Cambia la fuente */
    font-weight: bold;/* negrita*/
    transition: color 0.3s ease-in-out;
}

.navegation_bar a:hover {
    color: black;
}

.titulo_principal {
    display: flex;
    flex-direction: column; /* Define que los elementos se distribuyen en una fila */
    align-items: center; /*Alinea los elementos verticalmente al centro */
    flex-wrap: nowrap; /* Aseg칰rate de que los elementos no se envuelvan a la siguiente l칤nea */

    /*border: 2px solid black;*/

    padding: 60px;
    box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho y alto */
    width: 100%; /* Aseg칰rate de que el contenedor abarque todo el ancho de la pantalla */
    background-color:  white;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.titulo_principal {
    color: #212121; /* Color del texto */
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente del texto */
    font-weight: bold; /* Negrita */
    font-size: 6vh; /* Tama침o en p칤xeles */
}

.imagen_presentacion {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imagen_presentacion img {
    width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: cover;
    display: block;
}

/*R*/

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    gap: 10px; /* Espacio entre las tarjetas */
}

/* Ajuste de la tarjeta para que se adapten en diferentes tama침os de pantalla */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 300px; /* Ajuste flexible para que se adapten */
    max-width: 100%; /* Asegura que la tarjeta no exceda el ancho del contenedor */
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card_image {
    width: 100%;
    height: auto;
    display: block;
    
}

.card_content {
    padding: 15px;
}

.card_title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card_description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.card_button {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.card_button:hover {
    background-color: #2980b9
    }