/* Estilos de la pagina principal */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
    padding-top: 20px; /* Debe ser igual a la altura de la barra */
}

.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    box-sizing: border-box;

    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.logo {
    width: 20px; /* Ajusta el ancho según tus necesidades */
    height: auto;
}

.navegation_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    padding: 13px 30px;
    box-sizing: border-box;

    overflow-x: auto; /* Permite desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos bajen de línea */
}


.navegation_bar::-webkit-scrollbar {
    height: 4px; /* Ajusta el tamaño de la barra de desplazamiento */
}
.navegation_bar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 3px;
}

.navegation_bar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo */
}

@media (max-width: 768px) {
    .navegation_bar {
        padding: 10px;
        max-width: 100%; /* Evita que la barra se desborde */
    }

    .navegation_bar::-webkit-scrollbar {
        height: 5px; /* Hace visible la barra de desplazamiento en Chrome/Safari */
    }

    .navegation_bar::-webkit-scrollbar-thumb {
        background: #bbb;
        border-radius: 10px;
    }
}

.navegation_bar a {
    text-decoration: none; /* Quita el estilo especial predeterminado */
    color: #666;/* color para el texto*/
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Cambia la fuente */
    font-weight: bold;/* negrita*/
    transition: color 0.3s ease-in-out;
    padding: 10px 15px; /* Espaciado para que se vean bien */
    flex-shrink: 0; /* Evita que se reduzcan demasiado */
}

.navegation_bar a:hover {
    color: black;
}

.titulo_principal {
    display: flex;
    flex-direction: column; /* Define que los elementos se distribuyen en una fila */
    align-items: center; /*Alinea los elementos verticalmente al centro */
    flex-wrap: nowrap; /* Asegúrate de que los elementos no se envuelvan a la siguiente línea */

    /*border: 2px solid black;*/

    padding: 60px;
    box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho y alto */
    width: 100%; /* Asegúrate de que el contenedor abarque todo el ancho de la pantalla */
    background-color:  white;
    margin: 0 auto; /* Centra el contenedor horizontalmente */

    color: #212121; /* Color del texto */
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente del texto */
    font-weight: bold; /* Negrita */
    font-size: 6vh; /* Tamaño en píxeles */
}

.imagen_presentacion {
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    margin: 0 auto;
}

.imagen_presentacion img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
}

/*R*/

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    gap: 25px; /* Espacio entre las tarjetas */
}

/* Ajuste de la tarjeta para que se adapten en diferentes tamaños de pantalla */
.card {
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 300px; /* Ajuste flexible para que se adapten */
    max-width: 300px; /* Asegura que la tarjeta no exceda el ancho del contenedor */
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card_image {
    width: 100%;
    height: auto;
    display: block;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.card_title {
    display: flex;
    justify-content: center;
    
    font-size: clamp(1.5em, 4vh, 2.5em); /* Ajuste responsivo */
    align-items: center;
    width: 100%;
    margin: 0;
    color: #212121; /* Color del texto */
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente del texto */
    font-weight: bold; /* Negrita */
}

.card_description {
    
    color: #212121;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente del texto */
    margin: 10px 0;
    padding: 5px;
    line-height: 1.5;
}

.card_button {
    
    display: block;
    text-align: center;
    background-color: #666;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: background-color 0.3s;

    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente del texto */
    font-weight: bold; /* Negrita */
}

.card_button:hover {
    background-color: black
    }